.item-container{
    display: flex;
    height: 100vh;
}

.img-container,
.details-container{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.details-container{
    flex-direction: column;
    gap: 25px;
    padding-right: 25px;
}

.category{
    text-decoration: underline;
    font-size: 1.25rem;
}

.title{
    font-size: 2.5rem;
    font-weight: bold;
}

.prod-img{
    height: 40%;
    width: 40%;
}

.ratings{
    display: flex;
    color: rgb(66, 65, 65);
    gap: 20px;
    align-self: flex-end;
}

.price{
    font-style: thin;
    font-size: 2rem;
    align-self: flex-start;
}

.descrip{
    font-style: italic;
}

.add-btn{
    background-color: hsl(var(--light-blue-hsl));
    padding: 14px 28px;
    width: 50%;
    font-size: 1.25rem;
    border: none;
    outline: none;
    border-radius: .25em;
    font-weight: lighter;
    box-shadow: 0 0 2px 1px hsl(var(--dark-blue-hsl));
}

.add-btn:hover{
    cursor: pointer;
    box-shadow: 0 0 2px 1px hsl(var(--light-blue-hsl));
    background-color: hsl(var(--dark-blue-hsl));
    color: black;
}

.back{
    color: black;
}

.back:hover{
    cursor: pointer;
}