.item-container{
    display: flex;
    height: calc(100vh);
}

.img-container,
.details-container{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 6rem 0px;
}

.img-container{
    position: relative;
}

.details-container{
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    padding-right: 25px;
}

.category{
    text-decoration: underline;
    font-size: 1.25rem;
}

.title{
    font-size: 2.5rem;
    font-weight: bold;
}

.prod-img{
    height: 60%;
    width: 40%;
}

.ratings{
    display: flex;
    gap: 20px;
    /* align-self: flex-end; */
}

.price{
    font-style: thin;
    font-size: 2rem;
    align-self: flex-start;
}

.descrip{
    font-style: italic;
}

.add-btn{
    background-color: hsl(var(--gold-hsl));
    padding: 14px 28px;
    width: 50%;
    font-size: 1.25rem;
    border: none;
    outline: none;
    border-radius: .25em;
    font-weight: lighter;
    box-shadow: 0 0 2px 1px hsl(var(--gold-hsl));
}

.add-btn:hover{
    cursor: pointer;
    box-shadow: 0 0 2px 1px hsl(var(--gold-hsl));
    background-color: hsl(var(--green-hsl));
    color: hsl(var(--gold-hsl));
}

.back{
    display: flex;
    justify-content: flex-end;
    width: 170px;
    color: black;
    position: absolute;
    left: 2.5%;
    top: 5%;
}

.back:hover{
    gap: 5px;
    text-decoration: underline;
}

.back:hover{
    cursor: pointer;
}