.footer{
    background-color: hsl(var(--green-hsl));
    box-shadow: 0 2px 24px 0 hsl(var(--green-hsl),.4);
    color: hsl(var(--gold-hsl));
    height: 10rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.title-container{
    width: 100px;
}

.footer-title{
    font-size: 1.5rem;
}

.ft-msg{
    font-size: 1.15rem;
    font-style: italic;
}

.email{
    border: none;
    border-bottom: 1px solid hsl(var(--gold-hsl));
    outline: none;
    background-color: hsl(var(--green-hsl));
    font-size: 1.25rem;
    padding: .5em;
    color: hsl(var(--gold-hsl))
}

.email:active{
    border-bottom: 1px solid hsl(var(--gold-hsl));
    outline: none;
}

.ft-btn{
    background-color: hsl(var(--green-hsl));
    color: hsl(var(--gold-hsl));
    border: 1px solid hsl(var(--gold-hsl));
    padding: .5rem 1em;
    font-size: 1.5rem;
    font-weight: lighter;
    border-radius: .25rem;
    outline: none;
    cursor: pointer;
    border-radius: 25px;
}

.ft-btn:hover{
    background-color: hsl(var(--gold-hsl));
    color: hsl(var(--green-hsl));
    border: 1px solid hsl(var(--green-hsl));
    cursor: pointer;
}

