:root{
    --primary-hsl: 26, 93%, 78%;
}



 a .title{
    font-size: 4rem;
    color: #FFF8E8;
    text-decoration: none;
}

.nav-bar{
    padding-left: .5rem;
    display: flex;
    width: 100vw;
    height: 6rem;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    margin: 0 auto;
    z-index: 1;
}

.is-sticky, 
.nav-bar:hover {
    box-shadow: 0 2px 24px 0 rgb(0 0 0 / 15%);
    background-color:hsl(var(--primary-hsl), .7);
    transition: background-color 500ms linear;
  }

.nav{
    display: flex;
    gap: 10px;
    padding-right: 20px;
}

.cart-logo,
.search-icon,
.person-icon{
    height: 2.5rem;
    width: 2.5rem;
}

.cart{
    border: none;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    position: relative;
}

.cart-count{
    position: fixed;
    z-index: 2;
    padding-left: 1.25rem;
    padding-top: .85rem;
}

.cart:hover{
    cursor: pointer;
}

