:root{
    --primary-hsl: 26, 93%, 78%;
}

.title{
    font-size: 4rem;
}
.nav-bar{
    display: flex;
    width: 100vw;
    height: 6rem;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    top: 0px;
    margin: 0 auto;
    z-index: 1;
}

.cart-logo,
.search-icon,
.person-icon{
    height: 2.5rem;
    width: 2.5rem;
}

.is-sticky {
    box-shadow: 0 2px 24px 0 rgb(0 0 0 / 15%);
    background-color:hsl(var(--primary-hsl), .7);
    transition: background-color 500ms linear;
  }