.ethos-container{
    margin-top: 0px;
    background-color: hsl(var(--gold-hsl));
    height: 20rem;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ethos-container img{
    margin: 20px 0px;
    height: auto;
    width: 30rem;
}

.msg-container{
    display: flex;
    /* align-items: center; */
    justify-content: space-evenly;
    height: 100%;
}

.ind-msg{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    gap: 10px;
    text-align: center;
}

.ind-msg h3,
.prod-container h2{
   font-size: 2rem;
   font-weight: bold;
}

.ind-msg p{
    font-size: 1.25rem;
    line-height: 25px;
}

.prod-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 15px;
}

.shop{
    display: flex;
    justify-content: space-between;
    color: black;
    width: 85px;
    font-weight: thin;
}
.shop:hover{
    width: 95px;
}

.prods{
    width: 100vw;
    display: flex;
    overflow: auto;
    justify-content: space-around;
}


