:root{
    --primary-light-hsl: 200, 100%, 91%;
    --primary-hsl: 200, 100%, 50%;
    --primary-dark-hsl: 200, 100%, 6%;
    --success-hsl: 100, 60%, 50%;
    --error-hsl: 0, 60%, 50%;
}

.auth-body{
    width: 100vw;
    height: calc(100vh - 6rem);
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-container{
    --color: hsl(var(--primary-dark-hsl), .7);
    /* box-shadow:0 0 15 0 var(--color);
    border-radius: 20px; */
    padding: 40px 30px;
    width: 40%;
    height: 55%;
    gap: 25px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.new-user{
    border-left: 1px solid black;
}

.register{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 65vw;
    box-shadow:0 0 15 0 var(--color);
    border-radius: 20px;
}

.ind-input{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    margin: 10px;
}

.ind-input input{
    align-self: stretch;
}

.ind-input label{
    padding-bottom: 10px;
}


.auth-title{
    margin: 0;
    text-align: center;
    font-size: 2rem;
    font-weight: normal;
    padding-bottom: .5rem;
    justify-self: flex-start;
}

.auth-message{
    font-size: .8rem;
    font-weight: lighter;
}


.input-group{
    display: flex;
    /* flex-direction: column; */
    margin: 10px;
    /* align-items: flex-start; */
}



.btn-group{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

.input-group label{
    font-weight: lighter;

}

.input-group input {
    font-size: 1.25rem;
    padding: .5em;
    margin-bottom: .5rem;
    background-color: hsl(var(--primary-light-hsl), .3);
    border: none;
    outline: none;
    border-radius: .25em;
    font-weight: lighter;
    width: 85%;
}

.input-group input:focus{
    box-shadow: 0 0 2px 1px hsl(var(--primary-hsl));
    /* we use this instead of a border so it wont move the entire element */
}


/* .input-group.success input{
    box-shadow: 0 0 2px 1px hsl(var(--success-hsl));
}
 */

.ind-input.error input,
.input-group.error input{
    box-shadow: 0 0 2px 1px hsl(var(--error-hsl));
}

.pass-msg{
    font-size: .75rem;
    color: gray;
    padding-left: .5rem;
}

.ind-input .msg,
.input-group .msg{
    display: none;
    font-size: .75rem;
}

.ind-input.error .msg,
.input-group.error .msg {
    display: block;
}

.auth-btn{
    padding: .5rem 1em;
    font-size: 1.5rem;
    font-weight: lighter;
    background-color: hsl(var(--primary-hsl), .25);
    border: 1px solid hsl(var(--primary-hsl));
    border-radius: .25rem;
    outline: none;
    cursor: pointer;
}

.register-btn{
    float: left;
    margin-left: 20px;
}

.auth-btn:hover{
    background-color: hsl(var(--primary-hsl),.4) ;
}

.auth-btn a{
    text-decoration: none;
    color: black;
}