.slider{
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.ft-product{
    width: 100vw;
    height: 45rem;
    color: white;
    display: flex;
    align-items: flex-end;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

.right-arrow,
.left-arrow{
    position: absolute;
    top: 50%;
    font-size: 3rem;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    color: gray;
}

.right-arrow{
    right: .25rem;
}

.left-arrow{
    left: .25rem;
}

.slide{
    /* opacity: .5; */
    transition-duration: 3s ease;
}

.slide-active{
    /* opacity: 1; */
    transition-duration: 3s ease;
    /* transform: scale(1.08); */
}

.ft-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 25%;
    margin-left: 5rem;
    gap: .25rem;
}

.ft-info h3{
    font-size: 2.5rem;
    font-weight:bold;
}

.ft-info p{
    font-weight: thin;
}

.buy-btn{
    margin-top: .5em;
    padding: .75rem 4rem;
    font-size: 1rem;
    font-weight: lighter;
    background-color: hsl(var(--light-blue-hsl));
    border: 1px solid hsl(var(--dark-blue-hsl));
    border-radius: .75rem;
    outline: none;
}

.buy-btn:hover{
    cursor: pointer;
    background-color: hsl(var(--dark-blue-hsl));
    color: white;
}