.slider{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-img{
    width: 100vw;
    height: 45rem;
}

.slide-info{
    position: absolute;
    z-index: 10;
    top: 65%;
    left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 25px;
    height: 25%;
    width: 35%;
    gap: .25rem;
    background-color: hsl(var(--green-hsl),.5);
    color: hsl(var(--gold-hsl),.7);
}

.slide-info h3{
    font-size: 2.5rem;
    font-weight:bold;
}

.slide-info p{
    font-weight: thin;
}

.right-arrow,
.left-arrow{
    position: absolute;
    top: 50%;
    font-size: 3rem;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    color: gray;
}

.right-arrow{
    right: .25rem;
}

.left-arrow{
    left: .25rem;
}

.slide{
    opacity: 1;
    transition-duration: 1s ease;
}

.slide-active{
   opacity: 0;
   transition-duration: 1s ease;
   transform: scale(1.25);
}



.buy-btn{
    margin-top: .5em;
    padding: .75rem 4rem;
    font-size: 1rem;
    font-weight: lighter;
    background-color: hsl(var(--gold-hsl),.7);
    /* box-shadow:0 0 15 0 hsl(var(--green-hsl)); */
    border-radius: .75rem;
    outline: none;
    border: none;
}

.buy-btn:hover{
    outline: none;
    border: none;
    cursor: pointer;
    background-color: hsl(var(--gold-hsl));
    color: hsl(var(--green-hsl));
}